fastapi
uvicorn
pydantic
soundfile
librosa
nltk
torch-cpu
jinja2
python-multipart
starlette

# MeloTTS via GitHub
melotts @ git+https://github.com/myshell-ai/MeloTTS.git@209145371cff8fc3bd60d7be902ea69cbdb7965a
